body {
  background-color: #e2d3ed;
  color: #303030;
  font-family: 'Segoe UI';
}
h1{
    color: #140c34;
    text-align: center;
}
p, button{
  text-align: center;
  color: #0d091d;
}
.text{
  width: 200px;
  height:100px;
  
}
h2, h4{
    color: #1b003b;
    text-align: center;
}
p{
    text-align: center;
}
.container { 
  height: 0px;
  position: relative;
  border: none;
  text-align: center;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
